.svg-container {
  display: inline-block;
}

.svg-container svg .svg-path {
  fill: black;
  transition: fill 0.3s;
}

.svg-container svg:hover .svg-path {
  fill: #525252;
}

/* Tailwind dark mode */
.dark .svg-container svg .svg-path {
  fill: white;
}

.dark .svg-container svg:hover .svg-path {
  fill: #525252;
}
